body{
        background-image:url(https://wallpaperaccess.com/full/194900.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        image-rendering: pixelated;
      }

*{
  color: darkred;
}


main{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align:start;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 180px;
  margin-left: 20px;
}

p{
  font-size: 25px;
}